apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-kcvz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-yizu-tenant/rhtap-demo-app/hacbs-test-project-kcvz@sha256:b93cd30dfb3b6b7303feb58fb73a952d7c27826868f471fd75396e0270aae18f
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
